* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    background-color: aliceblue;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}
header{
    background-color: #6495ED;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
    top: 0;
    left: 0;
    padding: 10px;
    border-bottom: 2px solid #87CEEB;
}
#cabecalho-text > h3 {
    color: aliceblue;
}
main {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#filho-main {
    border: 2px solid #6495ED;
    width: 40%;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    flex-direction: column;
}
#adiciona-tarefa {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.digita-tarefa {
    width: 80%;
    height: 25px;
    margin-bottom: 10px;
}
#texto_digita-tarefa {
    outline: none;
    border: none;
    font-size: 16px;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: aliceblue;
}
.confirma-tarefa {
    width: 20%;
    height: 25px;
    margin-bottom: 10px;
}
#botao_confirma-tarefa {
    width: 100%;
    height: 100%;
    border: 1px solid green;
    border-radius: 20px;
    background-color: aliceblue;
    text-align: center;
    color: green;
}
#botao_confirma-tarefa:hover {
    background-color: green;
    color: aliceblue;
    transition: 0.4s;
}
.tarefa {
    width: 100%;
    height: 30px;
    background-color: #87CEEB;
    margin-top: 5px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.descricao-tarefa {
    text-align: justify;
    padding: 3px;
    color: aliceblue;
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.deleta-tarefa {
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.botao-deleta-tarefa {
    width: 100%;
    height: 100%;
    border: 1px solid red;
    border-left: none;
    color: red;
    background-color: aliceblue;
    border-radius: 0 20px 20px 0;
}
.botao-deleta-tarefa:hover {
    background-color: red;
    color: aliceblue;
    transition: .4s;
}